body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#simContainer {
	display: block;
}

#capacityContainer {
	position: absolute;
	height: 100vh;
	width: 30vw;
	right: 0;
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
  	justify-content: center;
}
